html {
    font-family: "Roboto", serif;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

body {
    background-color: bisque;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
    cursor: pointer;
    font-size: 2rem;
}

button, input {
    font-size: 1rem;
}

.inputContainer {
    border: 3px solid blue;
    border-radius: 8px;
}

.outputContainer {
    margin-top: 30px;
}